@model IEnumerable<Storyteller.ViewModels.ScriptViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@section topCSS{
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <link href="~/css/Hearder/StyleSheet_hearder.css" rel="stylesheet" />
    <link href="~/css/ScriptDetail/ScriptDetail.css" rel="stylesheet" />
}
<partial name="_HearderPartial" />

<div class="container" id="scriptImg">
    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {
                <img src="@item.ScriptUrl" alt="Alternate Text" />
            }
        </div>
    </div>
</div>

<div class="container" id="scriptDescription">
    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {
                <h5>@item.ScriptName</h5>
                <h5>玩家人數：@item.ScriptMaxPlayer</h5>
                <h5>所需時間：@item.ScriptDuration</h5>
                <h5>@item.ScriptIntroduction</h5>
            }
        </div>
    </div>
    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {
                <a class="GoToPlay btn" asp-controller="GameRoom" asp-action="UserPairing" asp-route-id="@item.ScriptId">玩這本書</a>
            }
        </div>
    </div>
</div>

@section endJS{
    <script src="~/js/ScriptDetail/ScriptDetail.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://beangostg.blob.core.windows.net/beango-static-stg/sdk/beango_stg.min.js"></script>
    <script src="~/js/BeanfunSDK/BeanfunSDK.js"></script>
    <script src="https://beangochat.blob.core.windows.net/beango-static-prod/sdk/vconsole.min.js"></script>
}