<div class="AuthorArea">
    <div class="col-4 AuthorImg">
        <img src="https://picsum.photos/400/400/?random=15">
    </div>

    <div class="col-8 AuthorRight">
        <div class="AuthorText">
            <h3>作者名</h3>
            <p>短介紹短介紹短介紹短介紹短介紹短介紹短介紹</p>
        </div>

        <div class="AuthorButton">
            <a href="#">
                <div class="AuthorBtn">
                    LIKE!
                </div>
            </a>
            <a href="#">
                <div class="AuthorBtn">
                    他的劇本
                </div>
            </a>
        </div>
    </div>
</div>