<header class="container-fluid containerheader">
  <div class="row">
    <div class="col-md-12 herderBox">
      <div id="Go_Back" class="btn-left">
          <i class="fas fa-angle-left"></i>
      </div>
      <div id="Title_Name" class="txt-title">{{Title}}</div>
      <div class="btn-right">
          <i class="fas fa-cog"></i>
      </div>
    </div>
  </div>
</header>