@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="story-choose">
    <div class="story-choose-input">
        <div class="s-choose-title">
            <div class="s-c-title-img">
                <svg class="s-c-c-cricle-mysvg" width="55" height="55">
                    <circle id="circle" r="20" cy="25.5" cx="25.5" stroke-width="7" stroke="#CEADC2"
                            fill="none" />
                </svg>
            </div>
            <div class="s-c-title-text">
                <p></p>
                <h3>你的選擇將影響後續事件發展...</h3>
            </div>
        </div>
        <div class="s-choose-btn">
            <div class="s-c-btn-yes" onclick="YesBeenClick(false)">
                <div class="s-c-b-yes-img">
                    <img src="~/img/StoryRoom_Choose/3340487-607d8b.png" />
                </div>
                <div class="s-c-b-yes-text">
                    <h3>選項一</h3>
                </div>
            </div>
            <div class="s-c-btn-no" onclick="NoBeenClick(false)">
                <div class="s-c-b-no-img">
                    <img src="~/img/StoryRoom_Choose/3340487-607d8b.png" />
                </div>
                <div class="s-c-b-no-text">
                    <h3>選項二</h3>
                </div>
            </div>
        </div>
    </div>
</div>

