
<partial name="_HearderPartial" />


<section class="container">
    <div class="row">
        <div class="col-md-12">
            <partial name="_CGModel" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
           <partial name="_AuthorModel" />
        </div>
    </div>
</section>


<partial name="_InputFooterPartial" />









@section topCSS
{
    <link href="~/css/InputFooter/StyleSheet_footer.css" rel="stylesheet" />
    <link href="~/css/Hearder/StyleSheet_hearder.css" rel="stylesheet" />
    <link href="~/css/StoryRoomCG/StoryCGModle.css" rel="stylesheet" />
    <link href="~/css/StoryRoomCG/AuthorModel.css" rel="stylesheet" />
}