.GamePadding{
    padding:30px 0px;
}

.CGImg {
    position: relative;
}

.CGModelUserLeft {
    width: 70px;
    height: 70px;
    background: var(--btnPurple);
    border: 3px solid var(--bgGray);
    box-sizing: border-box;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: 170px;
    left: -6%;
    z-index: 1
}

.CGModelUserRight {
    width: 70px;
    height: 70px;
    background: var(--btnPurple);
    border: 3px solid var(--bgGray);
    box-sizing: border-box;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: 170px;
    left: 85%;
    z-index: 1
}



.AddFriend {
    content: '...';
    width: 30px;
    height: 30px;
    background: var(--btnPurple);
    border: 3px solid var(--bgGray);
    box-sizing: border-box;
    border-radius: 50%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    top: 205px;
    left: 81%;
    z-index: 1;
    font-size: 6px;
    line-height: 23px;
    color: #FFFFFF;
}


.GameText {
    margin: auto;
}

.GameTextTitle > h1 {
    font-size: 36px;
    text-align:center;
}

.GameTextTag > p {
    text-align: center;
    color: #D0C4D2;
    font-size: 12px;
}

.GameTextContent{
    width:300px;
}

.GameTextContent > p {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
}

.GameButtonJustify {
    justify-content: center;
    padding: 30px 0px;
}

.GameButton {
    width: 300px;
    justify-content: space-between;
    display: flex;
}

.GameButton > a {
    text-decoration: none;
}

.GameBtn {
    width: 110px;
    height: 28px;
    left: 40px;
    top: 611px;
    background: #70CDB8;
    border-radius: 14px;
    text-align: center;
}

.GameBtn > p {
    font-size: 13px;
    color: #393939;
    align-items: center;
    text-align: center;
    line-height:25px;
}

